body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  padding: 1rem;
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

/*Navbar design*/

.navbar {
  display: none;
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
}

.navbar a {
  text-decoration: none;
  color: #5a5656;
  font-weight: bold;
}

.navbar .links:hover {
  color: red;
  transition-duration: 0.7s;
}


.login-button {
  background-color: rgb(242, 56, 56);
  color: aliceblue;
  text-decoration: none;
  height: 2rem;
  width: 5rem;
  font-weight: bold;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition-duration: 1s;
}

@media screen and (min-width: 768px) {
  .login-button {
    display: flex;
  }
}


.login-button:hover {
  border: 2px solid black;
  transform: scale(1.1);
  font-size: 17px;
}

.hamburger {
  display: none;
  color: #000;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}



.hamburger .menu-item {
  height: 20px;
  width: 20px;
}


/*Homepage design*/


.container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  .container .box1, .box2 {
    height: 400px;
    width: 300px;
    margin: 10px;
    padding: 10px;
  }
}


.box1 {
  height: 400px;
  width: 600px;
  box-sizing: border-box;
  /* border: 2px solid rgb(127, 125, 125); */
  margin: 70px;
  padding: 20px;
}


.btn-container {
  margin-top: 5px;
  padding-top: 5px;

}


.box1 .signup-btn {
  color: white;
  background-color: rgb(242, 56, 56);
  margin: auto;
  padding: 12px;
  height: 50px;
  width: 10rem;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  /* transition: width 0.2s linear;  */
  transition-duration: 1s;

}


.box1 .signup-btn:hover {
  border: 2px solid black;
  transform: scale(1.1);
  font-size: 17px;
}

.box2 {
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}


.box2 img {
  height: 250px;
  width: 250px;
  margin: 100px;
  padding: 20px;
  animation: movePendulum 4s infinite ease-in-out;
}

/*Image animation---------------------*/
@keyframes movePendulum {
  0%, 100% {
    transform: rotate(0deg);
    /* Start and end position (no rotation) */
  }

  50% {
    transform: rotate(4deg);
    /* Midpoint position, adjust as needed */
  }
}




/*Login style*/


.form-cont {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 7rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input, button, select {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  height: 2rem;
}


button {
  background-color: red;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .form-cont {
    max-width: 100%;
    padding: 0 2rem;
  }
}





/*Signup page*/

.log-container2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
  box-sizing: border-box;
  height: 100vh;
  flex-direction: column;
}


.f-l-name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 8rem;
}


.f-l-child {
  display: flex;
  flex-direction: column;
}

.f-l-name input {
  width: 130%;
}

@media screen and (max-width: 768px) {
  .f-l-name {
    flex-direction: column;
    gap: 0rem;
  }

  .f-l-name input {
    width: auto;
  }
}



.form-cont2 {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 7rem;
}

#account-type{
  height: 3rem;
}


/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .form-cont2 {
    max-width: 100%;
    padding: 0 2rem;
  }
}


/* .f-l-name input{
  width: 50%;
} */